{% extends "base.html" %}

{% load filetransfers %}


{% block content %}

    <div class="list-group">
    {% regroup files by explanation as files_by_explanation %}
    {% for explanation in files_by_explanation %}

        <a href="#" class="list-group-item list-group-item-action active">
            <h3 class="list-group-item-heading">{{ explanation.grouper.maten }}</h3>
            <p class="list-group-item-text"></p>
        </a>

        <div class="panel-body">
            <ul id="mylist" class="list-group">
                {% for file in explanation.list %}

                    {% url "motoun_download_handler" pk=file.pk as fallback_url %}
                    <li id="item_{{ file.pk }}" class="list-group-item">
                        <a href="{% firstof file.audio|public_download_url fallback_url %}">
                            <i class="fa fa-lg fa-download pull-right"></i>
                        </a>
                        {{ file.title }}
                    </li>

                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

{% endblock content %}
